.cat-details-container {
  width: 100%;
  margin-bottom: 5rem;
  max-width: 600px;
  display: flex;
  flex-direction: column;

  .cat-details {
    h1 {
      margin-bottom: 1.625rem;
    }
    p {
      font-weight: 500;
      margin-bottom: 2rem;
    }
  }

  @media screen and (min-width: 992px) {
    flex-direction: row;
  }
}

.other-photos-container {
  width: 100%;

  h2 {
    margin-bottom: 2.5rem;
    text-align: left;
  }
}

.trait {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--black);
  flex: 1;

  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }
}
