.cat-image-container {
  .cat-name {
    color: var(--almost-black);
    font-size: 0.75rem;
    font-weight: 600;
    margin-top: 0.75rem;
  }

  &.sm {
    img {
      border-radius: 12px;
    }
  }

  &.lg {
    img {
      border-radius: 24px;
    }
  }

  img {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
}
