.cat-trait-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  .trait-level-container {
    display: flex;
    gap: 0.5rem;

    .trait-item {
      height: 0.75rem;
      min-width: 1.5rem;
      flex: 1;
      border-radius: 8px;

      &.inactive {
        background-color: var(--gray);
      }

      &.active {
        background-color: var(--medium-brown);
      }
    }
  }
}
