header {
  width: 100%;
  max-width: 1248px;
  margin-bottom: 1.5rem;

  svg {
    width: auto;
  }

  a {
    &:visited {
      color: #000 !important;
      background-color: #000 !important;
    }
  }
}
