header {
  width: 100%;
  max-width: 1248px;
  margin-bottom: 1.5rem;

  svg {
    width: fit-content;
  }

  a {
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }

    &:visited {
      color: unset;
    }
  }
}
