:root {
  --main-font: 'Montserrat', sans-serif;
  --theme-font: 'Mystery Quest', cursive;
  --white: #fff;
  --black: #000;
  --almost-black: #291507;
  --dark-brown: rgba(41, 21, 7, 0.6);
  --medium-brown: #544439;
  --light-brown: #4d270c;
  --light-gray: #e3e1dc;
  --gray: #e0e0e0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--main-font);
}

body {
  min-height: 100vh;
}

.p-text {
  color: var(--almost-black);
  font-size: 0.75rem;

  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }

  @media screen and (min-width: 992px) {
    font-size: 1.125rem;
  }
}

@each $weight in 600, 700 {
  .h-text-#{$weight} {
    font-weight: $weight;

    color: var(--almost-black);
    font-size: 1.75rem;

    @media screen and (min-width: 768px) {
      font-size: 2.25rem;
    }
  }
}
